@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

html {
    min-height: 100vh;
    min-width: 100vw;
}

body {
    color: #f2f2f2;
    background-color: #0d0d0d;
    font-family: 'Mohave', sans-serif;
    min-height: inherit;
    min-width: inherit;
}

nav {
    overflow: hidden;
}

ul {
    list-style-image: url('../img/ucorpBullet.png');
    padding-inline-start: unset;
}

li {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
    font-weight: lighter;
}

a {
    color: white;
    text-decoration: none;
}

.brand-stamp {
    height: 75px;
    padding: 1rem;
}

.clickme {
    background-color: #EEEEEE;
    padding: 8px 20px;
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
    color: #10a2ff;
    cursor:pointer;
}

.companyLabel {
    color: #0a58ca!important;
}

.logo-container {

}

.rotate-logo {
    animation: rotation 8s infinite linear;
    height: 300px;
    width: 300px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}